.skillsBox {
    padding: 24px;
    border-radius: 12px;
    overflow: auto;
}

.addButton {
    width: 30px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cityBox {
    padding: 24px;
    border-radius: 12px;
}